<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>view</title>

	{% load staticfiles %}
    <link rel="stylesheet" href="{% static "physicsdb/css/reset.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
  	{% if error_message %}<h1>{{ error_message }}</h1>{% endif %}
  	<div><a href="user/">user page</a></div>
  	{% if equipment %}
  		{% for e in equipment %}
	  		<div style="margin:10px auto;padding:5px;border:1px solid black">
	  			<div>Type: {{ e.equipment_name }}</div>
	  			<div>ID: {{ e.equipment_id }}</div>
	  			<div>Reg. date: {{ e.register_date }}</div>
	  			<div>In use: {{ e.was_taken_out }}</div>
	  			{% if e.was_taken_out %}
	  			<ul>
	  				<li>User: {{ e.take_out_user }}</li>
	  				<li>Time: {{ e.take_out_time }}</li>
	  			</ul>
	  			{% else %}
	  			<form action="/take_out/" method="post">
	  				{% csrf_token %}
	  				<input type="hidden" value="{{ e.equipment_id }}" name="equipment_id">
	  				<input type="submit" value="take out" style="margin-top:15px;">
	  			</form>
	  			{% endif %}
  			</div>
  		{% endfor %}
  	{% else %}
  		<div>Nothing here!</div>
  	{% endif %}
  </body>
</html>
