#login-form {
	border: 1px solid black;
	border-radius: 2px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
	top: 100px;
	width: 250px;
	height: 275px;
}

label {
	margin: 10px;
	font: 12px arial;
}

input {
	display: block;
	margin: 24px auto;
}

input[type=submit] {
	position: relative;
	margin: 0 auto;
	bottom: 0;
	text-decoration: none;
	border: 1px solid gray;
}

.errorlist {
	color: red;
	font: 12px arial;
	background:#ccc;
}